.blockA {
    width: 1280px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.blockB {
    display: flex;
    height: 100px;
    background: #161616;
    border: 1px solid #2d2d2d;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.blockB:hover {
    border: 1px solid white;
}
.logoA {
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}