/*
=============================================================
    header.css --> home.html --> home.js
    header.css <-> home.js
=============================================================
    Автор: Путилин А.
    ДатаР: 13.04.2025
=============================================================
*/
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: system-ui;
  letter-spacing: 0.6px;
  line-height: 22px;
  font-size: 14px;
  box-sizing: border-box;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;
  scrollbar-color: #383838 #121212;
  scrollbar-width:thin;
  scrollbar-gutter: stable;
}
body {
  display: flex;
  flex-direction: column;
  background: #121212;
}
.center_block {
  display: flex;
  justify-content: center;
  z-index: 0;
}
/*
=============================================================
  ШАПКА САЙТА (PC)
=============================================================
*/
header {
  top: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  color: #fff;
  transition: transform 0.3s ease;
  z-index: 9999999;
}
.header {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 9999999;
}
header.hidden {
  transform: translateY(-100%);
}
.content {
  height: 2000px;
  padding: 20px;
  background: #161616;
}
.absorbing_block {
  width: 1280px;
  height: 80px;
  margin: 0 20px 0 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  align-items: center;
  background: #121212;
}
.header_block {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  background: #161616;
  border: 1px solid #363636;
  z-index: 9999;
}
.hd_sector {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#hd_link1 {
  border-radius: 10px 0 0 10px;
}
#hd_link2 {
  border-left: 1px solid #363636;
}
#hd_link5 {
  border-radius: 0 10px 10px 0;
  border-right: none;
}
.hd_link {
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-right: 1px solid #363636;
  cursor: pointer;
}
.hd_link:hover {
  background: #1b1b1b;
}
.hd_link_content {
  padding: 0 20px 0 20px;
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotip-pts {
  width: 30px;
  height: 30px;
}

/*_Анимация появления меню______________*/
@keyframes anim {
  0% {transform: translateY(-5%);}
  100% {transform: translateY(0);}
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*
=============================================================
  ШАПКА САЙТА (MOBILE)
=============================================================
*/

.header_block_mobile {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #161616;
  border: 1px solid #363636;
  width: 100%;
  height: 50px;
  margin: 10px 0 0 0;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 9999;
}
.hd_sector_mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 99999;
}
.menu-button {
    background: none;
    border-left: 1px solid #363636;
    border-right: none;
    border-bottom: none;
    border-top: none;
    color: #fff;
    padding: 0 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
  }

  .menu-button:hover {
    background-color: #1b1b1b;
  }

  /* Меню, которое появляется */
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    transform: translateY(100%);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
  /* Когда меню открыто */
  .menu.open {
    transform: translateY(0);
  }

  /* Контент внутри меню */
  .menu-content {
    margin: 10px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #161616;
    border: 1px solid #363636;
    border-radius: 10px;
    overflow: auto;
  }

  /* Пример элементов меню */
  .menu-item {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
  }

  .menu-item:hover {
    color: #007BFF;
  }
  .mobile_menu_content {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-color: black;
  padding: 0 14px 0 14px;
}
.mobile_menu_content_list {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #363636;
}
.link_mobile {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  color: white;
  line-height: 1.5rem;
}
.link_mobile:hover {
  background: #1b1b1b;
}
.strelka {
  width: 10px;
  height: 10px;
}
.button10 {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 12px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
  margin-bottom: 20px;
  margin-top: 50px;
  transition: 0.2s;
}
.button10:hover {
  background: rgb(234, 233, 233);
}
/*
=============================================================
  Анимация появления бургер меню (MOBILE)
=============================================================
*/
@keyframes anim2 {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 950px) {
  .modal-content {
    width: 100%;
    margin: 0 20px 0 20px;
  }
}
/*_Изменение шапки на Мобильную версию__*/
@media (max-width: 850px) {
  .absorbing_block {
    height: 60px;
    margin: 0 10px 0 10px;
    /* padding: 0; */
  }
  .header_block {
    display: none;
  }
  .header_block_mobile {
    display: block;
  }
}
@media (max-width: 280px) {
  .hd_link_content p {
    display: none;
  }
}