/*
=============================================================
    header.css --> home.html --> home.js
    header.css <-> home.js
=============================================================
    Автор: Путилин А.
    ДатаР: 13.04.2025
=============================================================
*/
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Consolas';
  box-sizing: border-box;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;
  scrollbar-color: #383838 #121212;
  scrollbar-width:thin;
  scrollbar-gutter: stable;
}
body {
  /* scrollbar-gutter: stable; */
  /* overflow-y: visible !important; */

  /* position: fixed;
  width: 100%;
  overflow-y: scroll; */

  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: visible !important;
  overflow: scroll !important; */
}
.center_block {
  display: flex;
  justify-content: center;
  z-index: 0;
}
/*
=============================================================
  ШАПКА САЙТА (PC)
=============================================================
*/
header {
  width: 100%;
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
}
.absorbing_block {
  width: 1280px;
  height: 80px;
  margin: 0 20px 0 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  align-items: center;
  background: #121212;
}
.header_block {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  background: #161616;
  border: 1px solid #2d2d2d;
}
.hd_sector {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hd_link {
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-right: 1px solid #2d2d2d;
  cursor: pointer;
}
.hd_link:hover {
  background: #1b1b1b;
}
.hd_link_content {
  padding: 0 20px 0 20px;
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotip-pts {
  width: 30px;
  height: 30px;
}

/*_Анимация появления меню______________*/
@keyframes anim {
  0% {transform: translateY(-5%);}
  100% {transform: translateY(0);}
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*
=============================================================
  ШАПКА САЙТА (MOBILE)
=============================================================
*/
.header_block_mobile {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #161616;
  border: 1px solid #2d2d2d;
  width: 100%;
  height: 50px;
  margin: 10px 0 0 0;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 999;
}
.hd_sector_mobile {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.mobile_menu {
  justify-content: space-between;
  position: relative;
  background: #161616;
  display: none;
  list-style: none;
  height: 90vh;
  width: 100%;
  padding: 20px 14px 36px 14px;
  border: 1px solid #2d2d2d;
  animation: anim2 0.3s forwards;
  border-radius: 10px 10px 0 0;
}
.mobile_menu_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scrollbar-color: black;
  padding: 0 14px 0 14px;
}
.mobile_menu_content_list {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #2d2d2d;
}
.link_mobile {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  color: white;
  line-height: 1.5rem;
}
.link_mobile:hover {
  background: #1b1b1b;
}
.strelka {
  width: 10px;
  height: 10px;
}
.button10 {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 12px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
  margin-bottom: 20px;
  margin-top: 50px;
  transition: 0.2s;
}
.button10:hover {
  background: rgb(234, 233, 233);
}
/*
=============================================================
  Анимация появления бургер меню (MOBILE)
=============================================================
*/
@keyframes anim2 {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.burger-checkbox {
  display: none;
}
.burger {
  top: 25%;
  margin: 0 20px 0 20px;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 30px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
#FK_menu:checked ~ .mobile_menu {
  display: block;
  width: 100%;
}
input[type="checkbox"] {
  display: none;
}

/*_Изменение шапки на Мобильную версию__*/
@media (max-width: 850px) {
  .absorbing_block {
    height: 60px;
    margin: 0 10px 0 10px;
    /* padding: 0; */
  }
  .header_block {
    display: none;
  }
  .header_block_mobile {
    display: block;
  }
}
@media (max-width: 280px) {
  .hd_link_content p {
    display: none;
  }
}