body {
  background: #121212;
}
/*____________________________________ТИТУЛЬНЫЙ БЛОК________________________________________*/
.titul_block {
  width: 1080px;
  height: 520px;
  padding: 45px;
  margin: 10px 10px 0 10px;
  border-radius: 30px;
  background: #1a1a1a;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
.list2 {
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 220px;
}
/*_Полное ФИО студента________*/
.FIO{
  width: 100%;
  font-weight: 600;
  line-height: 50px;
  font-size: 54px;
}
.icon-avatar {
  width: 280px;
  height: auto;
}
/*_Студент ТПЭК_______________*/
.TPEK {
  width: 100%;
  font-size: 16px;
  border-left: 4px solid #8000e4;
  padding-left: 10px;
}
/*_Кнопки по горизонтали______*/
.two_button {
  justify-content: space-between;
}
.button1, .button2 {
  width: 100%;
  padding: 10px;
}
.btn1, .btn2 {
  width: 50%;
}
/*_Кнопка Контактов___________*/
.button1 {
  height: 50px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  background: #8000e4;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}
.button1:hover{
  transform: scale(1.1);
}
/*_Кнопка Поддержки___________*/
.button2 {
  height: 50px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  background: #1a1a1a;
  border: 1px solid #a5a5a5;
  cursor: pointer;
  transition: 0.1s;
}
.button2:hover{
  transform: scale(1.1);
}
/*____________________________________БЛОК МОИХ НАВЫКОВ_____________________________________*/
/*_Зона карточек______________*/
.card_block {
  gap: 10px;
  width: 1080px;
  margin: 10px 10px 0 10px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  border-radius: 30px;
}
/*_Изображения ЯП_____________*/
.card_images {
  width: 40px;
  height: auto;
  float: left;
}
.icon3 {
  width: auto;
  height: 12px;
}
.icon5 {
  width: auto;
  height: 30px;
  float: right;
}
/*_Вид карточек______________*/
.list3 {
  width: 100%;
  padding: 45px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #1a1a1a;
  overflow: hidden;
  transition: 0.1s;
}
/*_Кнопка для карточки________*/
.button3 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #1a1a1a;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  cursor: pointer;
  border: 1px solid #8000e4;
  transition: 0.15s;
}
/*_Расположение кнопки________*/
.list3:hover .button3{
  background-color: #8000e4;
  fill: white;
}
.card_column {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card_column2 {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_column3 {
  display: flex;
  align-items: center;
  gap: 10px;
  float: right;
}
/*_Текст заголовка____________*/
.text_h1 {
  font-weight: 400;
  font-size: 24px;
  cursor: default;
}
.text {
  width: 100%;
}
/*_Текст карточки______________*/
.text_p{
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  justify-content: center;
  color: #a5a5a5;
  display: flex;
  cursor: default;
}
.two-card {
  justify-content: center;
  display: flex;
  gap: 10px;
}
@media (max-width: 1080px) {
  .two-card {
    flex-wrap: wrap;
  }
  .list2 {
    width: 100% !important;
  }
  .list2:hover {
    background: #1c1c22;
    transform: none !important;
  }
}
/*____________________________________БЛОК ОБРАЗОВАНИЯ______________________________________*/
/*_Зона образования______________*/
.education_block {
  width: 1080px;
  height: auto;
  background: #1a1a1a;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  padding-top: 45px;
}
.education-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
}
.button-education {
  width: 100%;
  border: 1px solid #8000e4;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.icon-avatar2 {
  width: 100%;
  height: auto;
}
.h1-color2 {
  color: #a0a1c5;
  border-bottom: 2px solid #8000e4;
  padding-bottom: 5px;
}
.h1-color2 {
  color: #ffffff;
  font-size: 24px;
}
.text_p2 {
  width: 100%;
  justify-content: center;
  color: #a5a5a5;
  display: flex;
  cursor: default;
}
.icon_college {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  border-radius: 20px;
}
.edu-card1 {
  padding: 45px;
  width: auto;
  height: 100%;
  flex: 1 1 220px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: #212121;
}
.edu-card {
  padding: 45px;
  width: auto;
  height: 300px;
  flex: 1 1 220px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: #212121;
}
.icon6 {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
/*____________________________________БЛОК КОНТАКТОВ________________________________________*/
.contacts_block {
  padding-top: 45px;
  width: 1080px;
  background: #1a1a1a;
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#lname, #fname, #country, #subject {
  background: #252525;
  border: 2px solid #2d2c2c;
}
input[type=submit] {
  background-color: #4CAF50;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 20px;
  background-color: #252525;
  padding: 20px;
}
/*____________________________________БЛОК КОНТАКТОВ_________________________________________*/
.card1 {
  background: #1c1c22;
  border-radius: 20px;
  padding: 30px;
}
/*____________________________________БЛОК АВАТАРКИ_________________________________________*/
/*_Расположение аватарки______*/
.card {
  position: relative;
}
/*_Изображение краски_________*/
.image1 img {
  width: 450px;
  height: auto; 
  z-index: 2;
}
/*_Изображение аватарки_______*/
.image2 img{
  position: absolute;
  top: 20%;
  left: 30%;
  width: 200px; 
  height: auto; 
  z-index: 1; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}
@media (max-width: 1050px) {
  .list2 .image1 img {
    width: 400px;
    margin-top: 30px;
  }
  .list2 .image2 img {
    width: 160px;
    margin-top: 25px;
  }
  .titul_block {
    width: 1080px;
    height: 580px;
    padding: 16px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
  }
}
@media (max-width: 1050px) {
  .list2 .image1 img {
    display: none;
  }
  .list2 .image2 img {
    display: none;
  }
  .titul_block {
    width: 1080px;
    height: 580px;
    padding: 16px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
  }
}

footer {
  background: #141414;
  display: block;
  justify-content: center;
}
footer .ft-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.ft-main {
  background: #141414;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  width: 1080px;
  padding: 16px;
  justify-content: space-between;
}
.ft-main-item {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 13rem;
}
@media (min-width: 1500px) {
  .ft-main {
      justify-content: space-evenly;
  }
}
@media (max-width: 656px) {
  .ft-main {
      justify-content: space-between;
  }
  .ft-main-item {
    padding-top: 20px;
    min-width: 13rem;
    justify-content: center;
  }
}
form {
  display: flex;
  flex-wrap: wrap;
}
form input[type=email] {
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 10px 0 0 10px;
  border: none;
  color: black;
}
form input[type=submit] {
  background: #8000e4;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  border: none;
}
.ft-copyright {
  background: #181818;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1080px;
}
.ft-copyright-item {
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 1080px;
  align-items: center;
  justify-content: center;
}

.ft-copyright-item p {
  color: #a5a5a5;
  width: 1080px;
  padding: 16px;
}
.center_block {
display: flex;
justify-content: center;
}