/* p, h1, h2 {
    font-family: Consolas,monaco,monospace;
}
.FIO{
    width: 100%;
    color: #e2e8f0;
    line-height: 50px;
    font-size: 52px;
}
.TPEK {
    width: 100%;
    color: #121212;
    background: #e2e8f0;
    justify-content: center;
    font-size: 30px;
    padding-left: 20px;
}
.text_p2 {
    font-size: 18px;
    font-weight: 500;
}
.text-h20 {
    font-size: 20px;
    width: 200px;
}
.text-h32 {
    width: 40%;
    text-align: left;
}
.text-p16 {
    width: 36%;
}
.height-max {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.text_h2 {
    height: auto;
}
.text_h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    cursor: default;
}
.text {
    width: 100%;
}
.text_p {
    display: flex;
    cursor: default;
    font-family: Consolas,monaco,monospace;
} */

/* @media (max-width: 1080px) {
    .FIO {
        font-size: 52px;
        text-align: center;
    }
    .TPEK {
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
        width: 100%;
    }
    .text_h1 {
        font-size: 20px;
    }
    .two-text {
        gap: 10px;
    }
    .text-h32 {
        width: 100%;
    }
    .text-p16 {
        width: 100%;
    }
    .text_h2 {
        font-size: 20px;
    }
} */