/*
=============================================================
    2_designer_block --> home.html

=============================================================
    Автор: Путилин А.
    ДатаР: 29.03.2025
=============================================================
*/

/* .text-h20 {
    font-size: 20px;
    width: 200px;
}
.text-h32 {
    width: 100%;
    text-align: left;
    padding: 5px;

    color: white;
}
.white_line {
    margin: 50px 0 0px 0;
    width: 100%;
    height: auto;
}
.text-p16 {
    font-size: 16px;
    width: 36%;
}
.text_p {
    display: flex;
    cursor: default;
}
.text16 {
    font-size: 16px;
} */

/* 
=============================================================
    БЛОК ДИЗАЙНЕРА
============================================================= 
*/
.designer_block {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 20px 0 0 0;
    gap: 20px;
}
.stages_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.two-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.stage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* background: #161616;
    border: 1px solid #2d2d2d; */
    padding: 30px 25px;
    gap: 50px;
    border-radius: 10px;
}
.stage_column_left {
    display: flex;
    flex-direction: column;
    flex: 1px 1 100px;
    line-height: 26px;
}
.stage_column_center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 100px;
}
.stage_column_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 220px;
    gap: 30px;
}
.block_cube {
    width: 300px;
    height: auto;
}
