.education_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #363636;
    background: #161616;
    margin-bottom: 20px;
}
.edu_title {
    width: 100%;
    border-bottom: 1px solid #363636;
    padding: 10px 20px;
}
.enjover {
  transition: 0.2s;
}
.enjover:hover {
  background: #1f1f1f;
}
.ahref:hover {
  background: #1f1f1f;
  border-radius: 0 0 0 10px;
}
.toggler {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #363636;
  z-index: 1;
}
.toggler__label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  /* transition: 0.2s; */
}
.toggler__label:hover {
  background: #1f1f1f;
}
.toggler__label::selection {
  color: none;
  background: none;
}
.toggler__content-box  {
  width: 100%;
  border-top: 1px solid #363636;
  background: #121212;
  padding: 20px;
  display: none;
  position: absolute;
  opacity: 0;
  color: #e3e3e3;
  font-size: 14px;
  z-index: -1;
}
.toggler__checkbox {
  display: none;
}
.toggler__checkbox:checked ~ .toggler__content-box {
  display: block;
  display: block;
  position: relative;
  opacity: 1;
}
.toggler__label:checked ~ .icon85 {
  display: block;
  position: relative;
  opacity: 1;
}
.icon85 {
  width: 10px;
  height: auto;
}


.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed;
  z-index: 9999; /* На переднем плане */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
}

.modal-content {
  background-color: #fefefe;
  margin: 100px 20px 20px 20px; /* Центрирование */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button #openModal:hover {
  border-radius: 0 0 0 10px;
  background: #1f1f1f;
}
.fj {
  border-radius: 10px;
  filter: brightness(50%);
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1080px) {
  .df {
    display: none;
  }
  .fj {
    height: 150px;
  }
}