.skill_works {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: #161616;
    border-radius: 10px;
    border: 1px solid #363636;
    justify-content: space-between;
}
.sw_text_block {
    padding: 30px;
}
.sector_block_width {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sw_sections2, .sw_sections1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 220px;
    border: 1px solid #363636;
    padding: 20px;
    justify-content: center;
    align-items: center;
}